<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const roomId = "<%= roomId %>"
        const roomName = "<%= roomName %>"
        const joinee = "<%= roomJoinee %> "
    </script>
</head>
<script defer src="https://frozen-fortress-11007.herokuapp.com/socket.io/socket.io.js"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script defer src="./script.js"></script>
<script>
    //const socket = io();
</script>

<body>
    <%= roomName %>
    <form id="send-container">
        <input type="text" id="message-input" >
        <button type="submit" id="send-button">></button>
    </form>
    <!-- <div id="currentUsers">
        <% roomJoinee.forEach(user=>{ %>
            <div id="kickuser">
                <%= user %>
            </div>
            <button onclick="kickoutUser">kick out</button>
            <% }) %>

    </div> -->
     <button id="startBtn">Start</button>
    <div id="messages"></div>
</body>

</html>